.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100vh;
}
.img {
  width: 300px;
  height: auto;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  justify-content: center;
  text-align: center;
}
.content p {
  margin-bottom: 40px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form label {
  color: silver;
}

.form input {
  text-align: center;
  background: transparent;
  font-size: 20px;
  outline: none;
  border: none;
  padding: 8px;
  border-bottom: 1px solid royalblue;
  width: 100%;
  margin-bottom: 30px;
}
.form button {
  width: 100%;
}
@media screen and (max-width: 900px) {
  .content p {
    margin-bottom: 30px;
  }
  .img {
    width: 250px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .content {
    width: 100%;
  }
  .img {
    width: 200px;
  }
}
