.container {
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  gap: 20px;
}

.signin {
  background: linear-gradient(to left, blue -4.58%, royalblue 85.42%);
  color: #fff;
}
.signin:hover {
  background: linear-gradient(to right, blue -4.58%, royalblue 85.42%);
}
.img {
  opacity: 0.9;
  position: absolute;
  width: 80px;
  height: auto;
  top: 0;
  right: 0.5px;
}
.signin span {
  z-index: 1;
}

.signin,
.signup {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 40px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 1;
  text-decoration: none;
}

.signup {
  color: royalblue;
  border: 1px solid royalblue;
}
.signup:hover {
    color: #fff;
    background: linear-gradient(to right, blue -4.58%, royalblue 85.42%);
  }

  @media screen and (max-width: 900px) {
    .content {
      width: 80%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .content {
      width: 100%;
    }
  }
  